.btn{
    font-weight: bold;
    border-radius: 9rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.6rem;
    margin-top: 1rem;

    &.top{
        background-color: $all;
        a{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1rem;
            text-decoration: none;
            color: $primary;
        }
    }
    &.white{
        background-color:$all;
        a{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1rem;
            text-decoration: none;
            color: black;
        }
   }

   &.end{
    background-color:$all ;
    position: relative;
    left: -40%;
    top: 9vh;
    a{
        text-decoration: none;
        color: $main;
        font-size: 14px;
    }
}
}

@media all and (min-width:1024px) and (max-width:1280px){
    .btn{
        padding: 1rem 2rem;
        border: $all solid 3px;
        &.top{
            position: relative;
            left: 40%;
            background: transparent;
            a{
                font-size: 16px;
                font-family: 'Poppins';
                color: $yel;
            }
        }

        &.white{
            position: relative;
            left: 30%;
            top:24vh;
            background: transparent;
            a{
                font-size: 16px;
                font-family: 'Poppins';
                color: $yel;
            }
        }

        &.end{
            padding: 1rem 2rem ;
            background-color:lightseagreen ;
            position: relative;
            left: 178%;
            a{
                text-decoration: none;
                color: $primary;
                font-family: 'Poppins';
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .btn{
        display: block;
        padding: 8px  10px;
        border-radius: 15px;
        position: relative;
        &.top, &.white{
            a{
                font-size: 12px;
                font-family: 'Poppins';
                font-weight: normal;
            }
        }

        &.white{
            top: 120px;
            left: -20%;
        }
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .btn{
        
        padding: .7rem .9rem;
        position: relative;
        border-radius: 0;
    &.top{
        background-color: $primary;
        a{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1rem;
            text-decoration: none;
            color: $all;
        }
    }
    &.white{
        background-color:$primary;
        top: 24vh;
        left: -24%;
        a{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1rem;
            text-decoration: none;
            color: $all;
        }
    }
}   
}

@media  screen and (min-width:769px) and (max-width:1023px) {
    .btn{
        padding: .8rem 1rem;
        border-radius: 9px;
        position: relative;
        border: $all solid 3px;
    &.top{
        background-color: $primary;
        a{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1rem;
            text-decoration: none;
            color: $all;
        }
    }
    &.white{
        background-color:$primary;
        top: 20vh;
        left: 12%;
        a{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 1rem;
            text-decoration: none;
            color: $all;
        }
    }
}
}