@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300;1,400&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

$main:#02514b;
$second:#e6e6e6;
$third:#7eea00;
$primary: black;
$all: snow;
$cool:blue;
$yel: yellow;
$slate:slateblue;

body {
  scroll-behavior: smooth;
  transition: 1.25s ease-in;
}

#logo{
  display: flex;
  justify-content: center;
  height: 5rem;
  width: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;

  img{
    align-self: center;
    height: 4rem;
    width: auto;
  }
}

header {
  font-family: 'Poppins';
  position:fixed;
  top:10;
  width: 100%;
  z-index: 1;
  background-color: #7eea00;

  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      li {
        margin: 7px;
        font-family:'Kanit';
        font-size: 1.2rem;

        a {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  background-color: $second;

  .copy{
    color: $cool;
    font-weight: bold;
    font-size: 1.3rem;
  }
  span{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}

/*Menu Icon*/
.wrapper{
  display: none;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: $third;
  height: 3rem;

 .container{
      z-index: 999;
      height: 25px;
      width: 60px;
      margin-top:10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .menulogo{
          height:7px;
          width: 40px;
          background-color: $primary;
          border-radius: 20px;
      }
  }
}

.menu{
  position: fixed;
  z-index: 999;
  font-family: 'Poppins';
  background-color: $slate;
  width: 10%;
  height: 100vh;
  padding: 50px;
  transform: translateX(-700px);
  transition: 0.5s;


  li{
      list-style: none;
      border-bottom: 1px solid rgb(130,117,218);
      padding: 20px 0;
      text-align: center;

     &:last-child{
          border-bottom: none;
      }
      a{
          transition: font-weight 0.2s ;
          color: $all;
          text-decoration: none;
          font-size: 10px;
      }
  }
}

.showmenu{
  transform: translateX(0px);
}

::-webkit-scrollbar-track{
  height: 3px;
}

::-webkit-scrollbar{
  background-color: #242f3f;
  width: 9px;
}

::-webkit-scrollbar-thumb{
  background-color:#7eea00;
}

.loader-wrapper {
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #242f3f;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s, visibility 1s;

  &.fade{
    opacity: 0;
    visibility: hidden;
  }

  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
  }

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 1s infinite ease-in;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(180deg);
  }

  50%{
      transform: rotate(180deg);
  }

  75%{
    transform: rotate(360deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
    0% {
        height:0%;
    }

    25%{
        height: 0%;
    }

    50%{
        height: 100%;
    }

    75%{
        height: 100%;
    }

    100%{
        height: 0%;
    }
}


@media all and (min-width:1024px) and (max-width:1280px){
  header{
    display:none;
  }

  .wrapper{
    display: block;
  }

  .menu{
    width: 30%;
    li{
      border-bottom: 4px solid rgb(130,117,218);
      a{
        font-size: 20px;
      }
      &:first-child{
        margin-top: 4rem;
      }
    }
  }
}

@media all and (max-width:360px) and (max-height:480px){
  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2.5rem;
    .container{
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 55%;
    li{
      a{
        font-size: 14px;
      }
    }
  }
}

@media all and (min-height:500px) and (max-height:650px) and (min-width:414px) and (orientation:portrait){

  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2.5rem;
    .container{
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 75%;
    li{
      line-height: 3;
      a{
        font-size: 16px;
      }
    }
  }
}

@media all and (max-width:239px) and (orientation:portrait) {
  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2rem;
    .container{
      margin: 4px;
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      a{
        font-size: 14px;
      }
    }
  }

  footer{
    font-size: 12px;
  }
}

@media all and (max-width:736px) and (min-height:240px) and (max-height:420px){

  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2.5rem;
    .container{
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 55%;
    li{
      margin-top: 12px;
      border-bottom: $all solid 2px;
      a{
        font-size: 18px;
      }
    }
  }
  
}

@media all and (max-width:240px){

  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2rem;
    .container{
      margin: 4px;
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      &:nth-child(1){
        margin-top: 20px;
      }
      a{
        font-size: 16px;
      }
    }
  }

  footer{
    font-size: 12px;
  }
}

@media all and (max-width:280px) and (max-height:653px){
  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2rem;
    .container{
      margin: 4px;
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      &:nth-child(1){
        margin-top: 20px;
      }
      a{
        font-size: 16px;
      }
    }
  }

  footer{
    font-size: 12px;
  }
}

@media all and (max-width:320px) and (max-height:568px){
 
  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2rem;
    .container{
      margin: 4px;
      .menulogo{
        height: 5px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      border-bottom: 3px solid $second;
      &:nth-child(1){
        margin-top: 60px;
      }
      a{
        font-size: 20px;
      }
    }
  }

  footer{
    font-size: 12px;
  }
}

@media all and (max-width:320px) and (max-height:480px){

  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2.5rem;
    .container{
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      a{
        font-size: 16px;
      }
    }
  }
}

@media all and (max-width:360px) and (max-height:640px){
  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2.5rem;
    .container{
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      padding: 50px 0;
      a{
        font-size: 18px;
      }
    }
  }
}

@media all and (max-width:360px) and (max-height:740px){
  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2.5rem;
    .container{
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      padding: 50px 0;
      a{
        font-size: 20px;
      }
    }
  }
}

@media all and (max-width:320px) and (max-height:658px){
  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2rem;
    .container{
      margin: 4px;
      .menulogo{
        height: 5px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      border-bottom: 3px solid $second;
      &:nth-child(1){
        margin-top: 40px;
      }
      a{
        font-size: 18px;
      }
    }
  }

  footer{
    font-size: 12px;
  }
}

@media all and (max-width:375px) and (max-height:667px){
  #logo{
    display:none;
  }

  header{
    display: none;
  }

  .wrapper{
    display: block;
    height: 2.5rem;
    .container{
      .menulogo{
        height: 4px;
        width: 30px;
      }
    }
  }

  .menu{
    width: 80%;
    li{
      border-bottom: solid 2px $second;
      padding: 50px 0;
      a{
        font-size: 20px;
      }
    }
  }
}

@media all and (max-width:375px) and (max-height:812px){
  
}