@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300;1,400&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  scroll-behavior: smooth;
  transition: 1.25s ease-in;
}

#logo {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
#logo img {
  align-self: center;
  height: 4rem;
  width: auto;
}

header {
  font-family: "Poppins";
  position: fixed;
  top: 10;
  width: 100%;
  z-index: 1;
  background-color: #7eea00;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header nav ul li {
  margin: 7px;
  font-family: "Kanit";
  font-size: 1.2rem;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  background-color: #e6e6e6;
}
footer .copy {
  color: blue;
  font-weight: bold;
  font-size: 1.3rem;
}
footer span {
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*Menu Icon*/
.wrapper {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: #7eea00;
  height: 3rem;
}
.wrapper .container {
  z-index: 999;
  height: 25px;
  width: 60px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.wrapper .container .menulogo {
  height: 7px;
  width: 40px;
  background-color: black;
  border-radius: 20px;
}

.menu {
  position: fixed;
  z-index: 999;
  font-family: "Poppins";
  background-color: slateblue;
  width: 10%;
  height: 100vh;
  padding: 50px;
  transform: translateX(-700px);
  transition: 0.5s;
}
.menu li {
  list-style: none;
  border-bottom: 1px solid rgb(130, 117, 218);
  padding: 20px 0;
  text-align: center;
}
.menu li:last-child {
  border-bottom: none;
}
.menu li a {
  transition: font-weight 0.2s;
  color: snow;
  text-decoration: none;
  font-size: 10px;
}

.showmenu {
  transform: translateX(0px);
}

::-webkit-scrollbar-track {
  height: 3px;
}

::-webkit-scrollbar {
  background-color: #242f3f;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #7eea00;
}

.loader-wrapper {
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #242f3f;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s, visibility 1s;
}
.loader-wrapper.fade {
  opacity: 0;
  visibility: hidden;
}
.loader-wrapper .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}
.loader-wrapper .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 1s infinite ease-in;
          animation: loader-inner 1s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  header {
    display: none;
  }
  .wrapper {
    display: block;
  }
  .menu {
    width: 30%;
  }
  .menu li {
    border-bottom: 4px solid rgb(130, 117, 218);
  }
  .menu li a {
    font-size: 20px;
  }
  .menu li:first-child {
    margin-top: 4rem;
  }
}
@media all and (max-width: 360px) and (max-height: 480px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2.5rem;
  }
  .wrapper .container .menulogo {
    height: 4px;
    width: 30px;
  }
  .menu {
    width: 55%;
  }
  .menu li a {
    font-size: 14px;
  }
}
@media all and (min-height: 500px) and (max-height: 650px) and (min-width: 414px) and (orientation: portrait) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2.5rem;
  }
  .wrapper .container .menulogo {
    height: 4px;
    width: 30px;
  }
  .menu {
    width: 75%;
  }
  .menu li {
    line-height: 3;
  }
  .menu li a {
    font-size: 16px;
  }
}
@media all and (max-width: 239px) and (orientation: portrait) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2rem;
  }
  .wrapper .container {
    margin: 4px;
  }
  .wrapper .container .menulogo {
    height: 4px;
    width: 30px;
  }
  .menu {
    width: 80%;
  }
  .menu li a {
    font-size: 14px;
  }
  footer {
    font-size: 12px;
  }
}
@media all and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2.5rem;
  }
  .wrapper .container .menulogo {
    height: 4px;
    width: 30px;
  }
  .menu {
    width: 55%;
  }
  .menu li {
    margin-top: 12px;
    border-bottom: snow solid 2px;
  }
  .menu li a {
    font-size: 18px;
  }
}
@media all and (max-width: 240px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2rem;
  }
  .wrapper .container {
    margin: 4px;
  }
  .wrapper .container .menulogo {
    height: 4px;
    width: 30px;
  }
  .menu {
    width: 80%;
  }
  .menu li:nth-child(1) {
    margin-top: 20px;
  }
  .menu li a {
    font-size: 16px;
  }
  footer {
    font-size: 12px;
  }
}
@media all and (max-width: 280px) and (max-height: 653px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2rem;
  }
  .wrapper .container {
    margin: 4px;
  }
  .wrapper .container .menulogo {
    height: 4px;
    width: 30px;
  }
  .menu {
    width: 80%;
  }
  .menu li:nth-child(1) {
    margin-top: 20px;
  }
  .menu li a {
    font-size: 16px;
  }
  footer {
    font-size: 12px;
  }
}
@media all and (max-width: 320px) and (max-height: 568px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2rem;
  }
  .wrapper .container {
    margin: 4px;
  }
  .wrapper .container .menulogo {
    height: 5px;
    width: 30px;
  }
  .menu {
    width: 80%;
  }
  .menu li {
    border-bottom: 3px solid #e6e6e6;
  }
  .menu li:nth-child(1) {
    margin-top: 60px;
  }
  .menu li a {
    font-size: 20px;
  }
  footer {
    font-size: 12px;
  }
}
@media all and (max-width: 320px) and (max-height: 480px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2.5rem;
  }
  .wrapper .container .menulogo {
    height: 4px;
    width: 30px;
  }
  .menu {
    width: 80%;
  }
  .menu li a {
    font-size: 16px;
  }
}
@media all and (max-width: 360px) and (max-height: 640px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2.5rem;
  }
  .wrapper .container .menulogo {
    height: 4px;
    width: 30px;
  }
  .menu {
    width: 80%;
  }
  .menu li {
    padding: 50px 0;
  }
  .menu li a {
    font-size: 18px;
  }
}
.btn {
  font-weight: bold;
  border-radius: 9rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.6rem;
  margin-top: 1rem;
}
.btn.top {
  background-color: snow;
}
.btn.top a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.btn.white {
  background-color: snow;
}
.btn.white a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.btn.end {
  background-color: lightseagreen;
  position: relative;
  left: -40%;
  top: 9vh;
}
.btn.end a {
  text-decoration: none;
  color: snow;
  font-size: 14px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .btn {
    padding: 1rem 2rem;
  }
  .btn.top {
    position: relative;
    left: 40%;
  }
  .btn.top a {
    font-size: 13px;
    font-family: "Poppins";
  }
  .btn.white {
    position: relative;
    left: 28%;
    top: 24vh;
  }
  .btn.white a {
    font-size: 13px;
    font-family: "Poppins";
  }
  .btn.end {
    padding: 1rem 2rem;
    background-color: lightseagreen;
    position: relative;
    left: 178%;
  }
  .btn.end a {
    text-decoration: none;
    color: black;
    font-family: "Poppins";
    font-size: 13px;
  }
}
@media all and (max-width: 360px) and (max-height: 480px) {
  .btn {
    border-radius: 4px;
    padding: 10px 10px;
  }
  .btn.top {
    position: relative;
    left: 138px;
  }
  .btn.top a {
    font-size: 14px;
  }
  .btn.white {
    position: relative;
    left: 135px;
  }
  .btn.white a {
    font-size: 14px;
  }
  .btn .end a {
    font-size: 40px;
  }
}
@media all and (min-height: 500px) and (max-height: 650px) and (min-width: 414px) and (orientation: portrait) {
  .btn {
    border-radius: 4px;
    padding: 10px 10px;
  }
  .btn.top {
    position: relative;
    left: 150px;
  }
  .btn.top a {
    font-size: 17px;
  }
  .btn.white {
    position: relative;
    left: 150px;
  }
  .btn.white a {
    font-size: 17px;
  }
  .btn .end a {
    font-weight: normal;
  }
}
@media all and (max-width: 239px) and (orientation: portrait) {
  .btn {
    border-radius: 4px;
    padding: 10px 10px;
  }
  .btn.top {
    position: relative;
    left: 78px;
  }
  .btn.top a {
    font-size: 14px;
  }
  .btn.white {
    position: relative;
    left: 74px;
  }
  .btn.white a {
    font-size: 14px;
  }
  .btn .end a {
    font-size: 40px;
  }
}
@media all and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) {
  .btn.top {
    border: snow solid 3px;
    background: black;
    position: relative;
    left: 42%;
  }
  .btn.top a {
    color: snow;
    font-size: 14px;
  }
  .btn.white {
    border: snow solid 3px;
    background: black;
  }
  .btn.white a {
    font-size: 14px;
    color: snow;
  }
  .btn .end a {
    font-size: 40px;
  }
}
@media all and (max-width: 240px) {
  .btn {
    border: black solid 3px;
    border-radius: 10px;
    padding: 8px 5px;
  }
  .btn.top {
    position: relative;
    left: 75px;
  }
  .btn.top a {
    font-size: 14px;
  }
  .btn.white {
    position: relative;
    left: 74px;
  }
  .btn.white a {
    font-size: 14px;
  }
  .btn .end a {
    font-size: 40px;
  }
}
@media all and (max-width: 280px) and (max-height: 653px) {
  .btn {
    border: black solid 3px;
    border-radius: 10px;
    padding: 10px 8px;
  }
  .btn.top {
    position: relative;
    left: 90px;
  }
  .btn.top a {
    font-size: 16px;
  }
  .btn.white {
    position: relative;
    left: 97px;
  }
  .btn.white a {
    font-size: 14px;
  }
  .btn .end a {
    font-size: 40px;
  }
}
@media all and (max-width: 320px) and (max-height: 568px) {
  .btn {
    border: black solid 3px;
    border-radius: 10px;
    padding: 10px 8px;
  }
  .btn.top {
    position: relative;
    left: 100px;
  }
  .btn.top a {
    font-size: 18px;
  }
  .btn.white {
    position: relative;
    left: 100px;
  }
  .btn.white a {
    font-size: 18px;
  }
  .btn .end a {
    font-size: 40px;
  }
}
@media all and (max-width: 320px) and (max-height: 480px) {
  .btn {
    border-radius: 4px;
    padding: 10px 10px;
  }
  .btn.top {
    position: relative;
    left: 113px;
  }
  .btn.top a {
    font-size: 16px;
  }
  .btn.white {
    position: relative;
    left: 115px;
  }
  .btn.white a {
    font-size: 16px;
  }
}
@media all and (max-width: 360px) and (max-height: 640px) {
  .btn {
    border-radius: 4px;
    padding: 10px 10px;
  }
  .btn.top {
    position: relative;
    left: 120px;
  }
  .btn.top a {
    font-size: 18px;
  }
  .btn.white {
    position: relative;
    left: 118px;
  }
  .btn.white a {
    font-size: 18px;
  }
}
.about-head {
  background-image: linear-gradient(rgba(6, 57, 199, 0.829), rgba(2, 20, 31, 0.781)), url(../images/heart.jpg);
  height: 43vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.about-head .headMain {
  position: relative;
  top: 30%;
}
.about-head .headMain h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: snow;
}

.services {
  margin-top: 6%;
  height: 40%;
  width: 100%;
}
.services .serv-head {
  color: black;
}
.services .serv-head h3 {
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.services .serv-head p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-align: center;
}
.services .main-services {
  display: none;
}
.services .grid-container {
  margin: 10ch auto;
  height: 90vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 70vw;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
}
.services .grid-container img {
  padding: -30px;
  border-radius: 20px;
  margin: 3ch 0 0 10ch;
  width: 70%;
  height: 78%;
}
.services .grid-container .img-text {
  font-size: 22px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding-left: 30px;
  padding-top: 10px;
}
.services .grid-container .first {
  grid-column: 1/2;
  grid-row: 1/2;
}
.services .grid-container .second {
  grid-column: 2/3;
}
.services .grid-container .third {
  grid-column: 1/2;
}
.services .grid-container .fourth {
  grid-column: 2/3;
}

.description {
  position: relative;
  top: 20vh;
  background-color: #02514b;
  color: snow;
  height: 40%;
  width: 100%;
}
.description h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  top: 1vh;
  width: 20%;
  left: 4%;
  -webkit-text-decoration: underline solid yellow;
          text-decoration: underline solid yellow;
}
.description .texx {
  display: flex;
  align-items: center;
}
.description .texx p {
  padding: 1%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
}
.description .texx img {
  position: relative;
  border-radius: 50%;
  top: -2vh;
  left: 9%;
  width: 18vw;
  height: 35vh;
}

footer {
  position: relative;
  top: 40vh;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .about-head {
    height: 20rem;
  }
  .about-head .headMain h2 {
    font-size: 32px;
  }
  .services .serv-head h3 {
    font-size: 30px;
  }
  .services .serv-head p {
    font-size: 20px;
  }
  .services .grid-container .img-text {
    margin: 10px 0 0 25px;
    padding-left: 30px;
    font-size: 22px;
  }
  .description {
    position: relative;
    top: 15vh;
  }
  .description h2 {
    font-size: 28px;
    width: 30%;
  }
  .description .texx {
    align-items: center;
    justify-content: space-around;
  }
  .description .texx p {
    margin: 3%;
    font-family: "Poppins";
    text-align: justify;
    font-size: 14px;
  }
  .description .texx img {
    height: 10rem;
    width: 10rem;
    left: -1rem;
  }
  footer {
    position: relative;
    top: 30vh;
  }
}
@media all and (max-width: 360px) and (max-height: 480px) {
  .about-head {
    height: 30vh;
  }
  .about-head .headMain {
    padding-top: 20px;
  }
  .about-head .headMain h2 {
    font-size: 13px;
  }
  .services .serv-head h3 {
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
  }
  .services .serv-head p {
    padding-top: 9px;
    font-size: 11.48px;
  }
  .services .grid-container {
    width: 100%;
  }
  .services .grid-container img {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    width: 86%;
  }
  .services .grid-container .img-text {
    font-weight: bold;
    padding: 0;
    font-size: 12px;
  }
  .description {
    top: 40px;
  }
  .description h2 {
    width: auto;
    left: 0;
    font-size: 18px;
    text-align: center;
  }
  .description .texx img {
    display: none;
  }
  .description .texx p {
    text-align: justify;
    margin-top: 20px;
    font-size: 12px;
  }
  footer {
    top: 20vh;
  }
}
@media all and (min-height: 500px) and (max-height: 650px) and (min-width: 414px) and (orientation: portrait) {
  .about-head {
    height: 30vh;
  }
  .about-head .headMain {
    padding-top: 10px;
  }
  .about-head .headMain h2 {
    width: 95%;
    font-size: 16px;
  }
  .services .serv-head h3 {
    font-size: 20px;
    font-weight: normal;
  }
  .services .serv-head p {
    padding-top: 9px;
    font-size: 13px;
  }
  .services .grid-container {
    width: 100%;
  }
  .services .grid-container img {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    width: 86%;
  }
  .services .grid-container .img-text {
    font-weight: bold;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .description {
    top: 40px;
  }
  .description h2 {
    width: auto;
    left: 0;
    font-size: 18px;
    text-align: center;
  }
  .description .texx img {
    display: none;
  }
  .description .texx p {
    text-align: justify;
    margin-top: 20px;
    font-size: 12px;
  }
  footer {
    top: 20vh;
  }
}
@media all and (max-width: 239px) and (orientation: portrait) {
  .about-head {
    height: 26vh;
  }
  .about-head .headMain h2 {
    font-size: 13px;
  }
  .services {
    position: relative;
    top: 10vh;
  }
  .services .serv-head h3 {
    font-size: 18px;
    font-weight: normal;
    -webkit-text-decoration: underline 3px blue;
            text-decoration: underline 3px blue;
  }
  .services .serv-head p {
    padding-top: 9px;
    font-size: 11.48px;
  }
  .services .grid-container {
    display: none;
    width: 100%;
  }
  .services .grid-container img {
    display: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    width: 86%;
  }
  .services .grid-container .img-text {
    font-weight: bold;
    padding: 0;
    font-size: 12px;
  }
  .description {
    top: 100px;
  }
  .description h2 {
    width: auto;
    left: 0;
    font-size: 18px;
    text-align: center;
  }
  .description .texx img {
    display: none;
  }
  .description .texx p {
    text-align: justify;
    margin-top: 20px;
    font-size: 12px;
  }
}
@media all and (max-width: 240px) {
  .about-head {
    height: 30vh;
  }
  .about-head .headMain {
    padding-top: 8px;
  }
  .about-head .headMain h2 {
    font-size: 13px;
  }
  .services .serv-head h3 {
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
  }
  .services .serv-head p {
    padding-top: 9px;
    font-size: 11.48px;
  }
  .services .main-services {
    display: block;
  }
  .services .grid-container {
    display: none;
  }
  .description {
    top: 80px;
    height: 80vh;
  }
  .description h2 {
    width: auto;
    left: 0;
    font-size: 18px;
    text-align: center;
  }
  .description .texx img {
    display: none;
  }
  .description .texx p {
    text-align: justify;
    margin-top: 20px;
    font-size: 12px;
  }
}
@media all and (max-width: 280px) and (max-height: 653px) {
  .about-head {
    height: 30vh;
  }
  .about-head .headMain {
    padding-top: 8px;
  }
  .about-head .headMain h2 {
    font-size: 14px;
    font-family: "Kanit";
  }
  .services .serv-head {
    position: relative;
    top: 5vh;
  }
  .services .serv-head h3 {
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
  }
  .services .serv-head p {
    padding-top: 9px;
    font-size: 14px;
  }
  .services .main-services {
    display: block;
  }
  .services .main-services a {
    font-size: 24px;
  }
  .services .grid-container {
    display: none;
  }
  .description {
    top: 20vh;
    height: 70vh;
  }
  .description h2 {
    width: auto;
    left: 0;
    font-size: 20px;
    text-align: center;
  }
  .description h2::after {
    content: " ?";
  }
  .description .texx img {
    display: none;
  }
  .description .texx p {
    text-align: justify;
    margin-top: 20px;
    font-size: 14px;
  }
}
@media all and (max-width: 320px) and (max-height: 568px) {
  .about-head {
    height: 35vh;
  }
  .about-head .headMain h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: "Kanit";
  }
  .services .serv-head {
    position: relative;
    top: 5vh;
  }
  .services .serv-head h3 {
    font-size: 22px;
    font-weight: normal;
    text-decoration: underline;
  }
  .services .serv-head p {
    padding-top: 9px;
    font-size: 16px;
  }
  .services .main-services {
    display: block;
  }
  .services .main-services a {
    font-size: 24px;
  }
  .services .grid-container {
    display: none;
  }
  .description {
    top: 30vh;
    height: 80vh;
  }
  .description h2 {
    width: auto;
    left: 0;
    font-size: 20px;
    text-align: center;
  }
  .description h2::after {
    content: " ?";
  }
  .description .texx img {
    display: none;
  }
  .description .texx p {
    text-align: justify;
    margin-top: 20px;
    font-size: 14px;
  }
}
@media all and (max-width: 320px) and (max-height: 480px) {
  .about-head {
    height: 30vh;
  }
  .about-head .headMain {
    padding-top: 20px;
  }
  .about-head .headMain h2 {
    font-size: 13px;
  }
  .services .serv-head h3 {
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
  }
  .services .serv-head p {
    padding-top: 9px;
    font-size: 12px;
  }
  .services .main-services {
    display: block;
  }
  .services .main-services a {
    font-size: 18px;
  }
  .services .grid-container {
    display: none;
  }
  .description {
    top: 28vh;
  }
  .description h2 {
    width: auto;
    left: 0;
    font-size: 18px;
    text-align: center;
  }
  .description .texx img {
    display: none;
  }
  .description .texx p {
    text-align: justify;
    margin-top: 20px;
    font-size: 12px;
  }
  footer {
    top: 37vh;
  }
}
@media all and (max-width: 360px) and (max-height: 640px) {
  .about-head {
    height: 30vh;
  }
  .about-head .headMain {
    padding-top: 20px;
  }
  .about-head .headMain h2 {
    font-size: 17px;
  }
  .services .serv-head h3 {
    font-size: 26px;
    font-weight: normal;
    text-decoration: underline;
  }
  .services .serv-head p {
    padding-top: 9px;
    font-size: 15px;
  }
  .services .main-services {
    display: block;
    margin-top: 10vh;
  }
  .services .main-services a {
    font-size: 20px;
  }
  .services .grid-container {
    display: none;
  }
  .description {
    top: 18vh;
    height: 50vh;
  }
  .description h2 {
    width: auto;
    left: 0;
    font-size: 20px;
    text-align: center;
  }
  .description .texx img {
    display: none;
  }
  .description .texx p {
    text-align: justify;
    margin-top: 20px;
    font-size: 12px;
  }
  footer {
    top: 30vh;
  }
}/*# sourceMappingURL=about.css.map */