@import './_variables';
@import './_helper';

.book {
  transition: 1.2s;
  color: $all;

  .book-head {
    margin: 3rem 0 0 1rem;
    h3 {
      color: $primary;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 2rem;
    }
  }

  .head-word {
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
      margin-left: -1rem;
      text-align: justify;
      text-transform: capitalize;
      font-family: 'Poppins';
      font-size: 2rem;
      color: $cool;
    }

    .rig-img {
      transition: 1.22s;
      position: relative;
      right: 2em;

      img {
        border-radius: 2rem;
        box-shadow: 3px 1px 6px #d1d1d1, 1px 1px 10px #f0f;
      }
    }
  }
}

.find {
  margin-top: 5rem;
  transition: 1.24s;
  background-color: $main;
  box-sizing: border-box;
  .f-help {
    position: relative;
    top: 2rem;
    h3 {
      font-size: 2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      color: $all;
    }
  }

  .help-strat {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
      position: relative;
      bottom: 1.5rem;
      height: 19rem;
      border-radius: 50%;
    }

   p {
      margin-top: -6rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      color: $all;

      span {
        text-transform: uppercase;
        color: $all;
      }
    }
  }

  .bul {
    position: relative;
    left: -40%;
    top: 7vh;
    background-color: $all;
    a{
      color: $main;
    }
  }
}

.therapy {
  margin-top: 10%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .imagge {
    margin-left: 3%;
    img {
      border-radius: 5%;
      height: 20rem;
      box-shadow: 3px 1px 7px #d1d1d9, 1px 1px 10px #f0f;
    }
  }

  .therapy-word {
    h3 {
      font-weight: bold;
      text-transform: uppercase;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: $green;
      letter-spacing: 9px;
    }

    p {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.5rem;
      margin-right: 3rem;
    }
  }
}

.mes {
  height: 90vh;
  width: 100%;
  background-color: $main;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10%;
  color: $all;

  .line{
    height: 70vh;
    width: .2%;
    background-color: $all;
  }
  .message {
    margin-top: 2rem;
    width: 30rem;
    margin-left: -1rem;

    h4 {
      position: relative;
      top: 1rem;
      margin-left: 2rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
     
      a{
        font-weight: bold;
        color: $all;
        font-size: 2rem;
      }
    }
}
  }

  .address {
    transition: 1.22s;
    position: relative;
    top: 1rem;

    .fa-brands {
      color: $all;
    }

    h3 {
      text-transform: uppercase;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
      font-weight: bold;
      font-size: 2rem;
      font-style: italic;
    }

    .cont-add-1 {
      margin-top: 1%;
      p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
      }
    }

    .cont-add-2 {
      margin-top: 2rem;

      :nth-child(2) {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
      }

      a {
        text-decoration: none;
      }
    }

    .sell {
      margin-top: 3rem;
      p {
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        span {
          color: #7eea00;
          font-size: 1rem;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    .volunteer {
      margin-top: 2rem;
      h4 {
        margin-bottom: 0.4rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 1rem;
      }

      p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
      }
    }
  }


@media all and (min-width:1024px) and (max-width:1280px){
  .book{
    .book-head{
      margin: 0;
      width: 40vw;
      h3{
        position: relative;
        left: 30px;
        top: 50px;
        font-size: 24px;
      }
    }
    .head-word{
      position: relative;
      top: 25px;
      p{
        font-size: 25px;
      }
    }

    .rig-img {
      position: relative;
      top: 20px;
      img {
        height: 15rem;
        border-radius: 2rem;
        box-shadow: 3px 1px 6px #d1d1d1, 1px 1px 10px #f0f;
      }
    }
  }

  .find{
    .f-help{
      width: 40vw;
      position: relative;
      left: 40%;
      h3{
        text-align: center;
      }
    }
    .help-strat{
      p{
        font-size: 22px;
        position: relative;
        left: 4rem; 
        span{
          text-transform: uppercase;
        }
      }

      .bul{
        left: -30%;
        top: 10vh;
      }
    }
  }

  .therapy{
    flex-direction: column;

    .imagge{
      img{
        height: 13rem;
      }
    }
    .therapy-word{
      text-align: center;
      h3{
        font-size: 1.5rem;
        font-family: 'Poppins';
      }
        p{
          font-size: 25px;
        }
    }
  }

  .mes{
    height: 100vh;
    .message{
      margin-top: 1rem;
      text-align: center;
      h4{
        position:relative;
        top: -3vh;
       a{
      text-align: center;
        
       }
      }
    }

    .address{
      top: -1rem;
      text-align: center;
      .cont-add-2{
        :nth-child(2){
          justify-content:space-evenly;
          margin-left: 30%;
          a{
            margin: 0;
          }
        }
      }
      h3{
        text-align: center;
      }
    }
  }
}

@media screen and (max-width:480px){
.book{
  .book-head{
    margin: 0;
    position: relative;
    h3{
      width: 90vw;
      left: 10px;
      font-size: 18px;
      position: relative;
      top: 50px;
    }
  }

  .head-word{
    p{
      text-align: center;
      margin: 0;
      margin-top: 85px;
      font-size: 16px;
    }

    .rig-img{
      display: none;
    }
  }
}

.find{ 
  .f-help{
    h3{
      font-size: 20px;
    }
  }

  .help-strat{
    height: 30vh;
    img{
      display: none;
    }

    p{
      display: none;
    }
  }

  .bul{
    display: block;
    left: 0;
    top: 3vh;
    border-radius: 20px;
    background: $all;
     a{
      font-family: 'Poppins';
      letter-spacing: 1;
      font-weight: 560;
      text-transform: uppercase;
      color: $main;
    }
  }
}

.therapy{
  .imagge{
    display: none;
  }

  .therapy-word{
    margin: 0;
    width: 100vw;
    position: relative;
    h3{
      font-size: 17px;
      letter-spacing: 0;
      text-align: center;
      font-family: 'Kanit';
    }
    p{
      margin-top: 12px;
      margin: 0;
      text-align: center;
      font-size: 13px;
    }
  }
}

.mes{
  height: 125vh;
  .line{
    display: none;
  }

  .message{
    display: none;
  }

  .address{
    top: -20px;
    text-align: center;
    h3{
      text-decoration: underline;
      font-size: 20px;
    }

    .cont-add-1{
      margin-top: 20px;
      p{
        font-size: 14px;
      }
    }

    .cont-add-2{
      p{
        position: relative;
        left: 10px;
        font-size: 14px;
      }
    }

    .sell{
      p{
        font-size: 14px;

        span{
          font-size: 14px;
        }
      }
    }

    .volunteer{
      h4{
        font-size: 14px;
      }

      p{
        font-size: 12px;
      }
    }
  }
}
}

@media screen and (min-width:481px) and (max-width:768px) {
  .book{
    .book-head{
      margin: 0;
      position: relative;
      h3{
        width: 90vw;
        left: 10px;
        font-size: 18px;
        position: relative;
        top: 50px;
      }
    }
  
    .head-word{
      p{
        text-align: center;
        margin: 0;
        margin-top: 85px;
        font-size: 18px;
      }
  
      .rig-img{
        display: none;
      }
    }
  }
  
  .find{ 
    .f-help{
      h3{
        font-size: 20px;
      }
    }
  
    .help-strat{
      height: 30vh;
      img{
        display: none;
      }
  
      p{
        display: none;
      }
    }
  
    .bul{
      display: block;
        left: 0;
        top: 3vh;
        border-radius: 20px;
        background: $all;
         a{
          font-family: 'Poppins';
          letter-spacing: 2px;
          font-weight: bolder;
          text-transform: uppercase;
          color: $main;
      }
    }
  }
  
  .therapy{
    .imagge{
      display: none;
    }
  
    .therapy-word{
      margin: 0;
      width: 100%;
      position: relative;
      h3{
        font-size: 17px;
        letter-spacing: 0;
        text-align: center;
        font-family: 'Kanit';
      }
      p{
        margin-top: 12px;
        margin: 0;
        text-align: center;
        font-size: 13px;
      }
    }
  }
  
  .mes{
    height: 95vh;
    .line{
      display: none;
    }
  
    .message{
      display: none;
    }
  
    .address{
      top: -20px;
      text-align: center;
      h3{
        text-decoration: underline;
        font-size: 20px;
      }
  
      .cont-add-1{
        margin-top: 20px;
        p{
          font-size: 14px;
        }
      }
  
      .cont-add-2{
        p{
          position: relative;
          left: 10px;
          font-size: 14px;
        }
      }
  
      .sell{
        p{
          font-size: 14px;
  
          span{
            font-size: 14px;
          }
        }
      }
  
      .volunteer{
        h4{
          font-size: 14px;
        }
  
        p{
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-width:769px) and (max-width:1023px) {
  .book{
    .book-head{
      margin: 0;
      position: relative;
      h3{
        width: 90vw;
        left: 10px;
        font-size: 18px;
        position: relative;
        top: 50px;
      }
    }
  
    .head-word{
      p{
        text-align: center;
        margin: 0;
        margin-top: 85px;
        font-size: 22px;
      }
  
      .rig-img{
      display: none;
      }
    }
  }
  
  .find{ 
    .f-help{
      h3{
        font-size: 20px;
      }
    }
  
    .help-strat{
      height: 30vh;
      img{
        display: none;
      }
  
      p{
        display: none;
      }
    }
  
    .bul{
      display: block;
      left: 0;
      top: 3vh;
      border-radius: 16px;
      background-color: $all;
       a{
        font-family: 'Poppins';
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }
  
  .therapy{
    .imagge{
      display: none;
    }
  
    .therapy-word{
      margin: 0;
      width: 100vw;
      position: relative;
      h3{
        font-size: 22px;
        letter-spacing: 0;
        text-align: center;
        font-family: 'Kanit';
      }
      p{
        margin-top: 22px;
        margin: 0;
        text-align: center;
        font-size: 14px;
      }
    }
  }
  
  .mes{
    height: 125vh;
    .line{
      display: none;
    }
  
    .message{
      display: none;
    }
  
    .address{
      top: -20px;
      text-align: center;
      h3{
        text-decoration: underline;
        font-size: 20px;
      }
  
      .cont-add-1{
        margin-top: 20px;
        p{
          font-size: 14px;
        }
      }
  
      .cont-add-2{
        p{
          position: relative;
          left: 10px;
          font-size: 14px;
        }
      }
  
      .sell{
        p{
          font-size: 14px;
  
          span{
            font-size: 14px;
          }
        }
      }
  
      .volunteer{
        h4{
          font-size: 14px;
        }
  
        p{
          font-size: 12px;
        }
      }
    }
  }
}