@import "./_variables";
@import "./_helper";
   

.content{
    background-image: linear-gradient(rgb(143, 6, 138, 0.76)),url(../images/test.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 60vh;

    &:hover{
        transition: ease-in 3s;
        background-position: center;
    }

    .write{
        position: relative;
        width: 60%;
        left: 7%;
        top: 20%;
        text-align: left;

        h2{
            font-family: 'Kanit';
            font-weight: bold;
            letter-spacing: 7;
            color: $yel;
            font-size: 2.9rem;
        }
    
        p{
            font-size: 1rem;
            font-family:'Poppins';
            color: $all;
        }
    }
}

.center{
    transition: 1.23s;
    background-color: $main;
    margin-top: 12vh;
    height:69vh;
    width: 100%;

    .mission-head{
        position: relative;
        top: 2rem;
        text-decoration: underline $yel 3px;

        h3{
            font-family: 'Kanit';
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bolder;
            letter-spacing: 2px;
            color: $all;
            margin-left: 12rem;
        }
    }

    .miss-word{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;

        p{
            font-family: 'Poppins';
            font-size: 1.5rem;
            color: $all;
        }

        .right-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28rem;
            height: 19rem;
            box-sizing: border-box;
            border-radius: 8rem;

            img{
                position: relative;
                top: -8%;
                height:109%;
                width: 100%;
                border-radius: 8rem;
            }
        }
    }

    .but{
        margin-top: -4rem;
        margin-left: 15rem;
    }
}

@media screen and  (min-width:1024px) and (max-width:1280px){
    .content{
        height: 74vh;
        .write{
            background-position: center;
            top: 25%;
            left: 23%;
            h2{
                line-height: 1;
                font-weight: bold;
                font-size:45px;
                font-family: 'kanit';
                text-align: center;
            }

            p{
                font-size: 20px;
                text-align: center;
            }
        }
    }

    .center{
        height: 90vh;
        .mission-head{
            width: 40%;
            position:relative;
            top: 10vh;
            left: 23%;
            h3{
                text-align: center;
                font-size: 30px;
                font-family: 'Kanit';
            }
        }

         .miss-word{
            position: relative;
            top: 14vh;
            p{
                font-size: 22px;
            }

            .right-img{
                width: 30%;
                height: 10%;
                box-sizing: border-box;
                border-radius: 8rem;
    
            }
        }
    }
}

@media screen and (max-width:480px){
.content{
    height: 55vh;
    .write{
        top: 14%;
        h2{
            text-transform: uppercase;
            font-size: 18px;
            font-family: 'Kanit';
        }

        p{
            font-size: 14px;
        }
    }
}

.center{
    height: 65vh;
    .mission-head{
        h3{
            margin: 0;
            width: 85vw;
            position: relative;
            left: 7%;
            font-size: 17px;
            line-height: 1.5;
        }
    }

    .miss-word{
        text-align: center;
        p{
            position: relative;
            top: 55px;
            font-size: 18px;
        }
        .right-img{
            display: none;
        }
    }
}
}

@media screen and (min-width:481px) and (max-width:768px){
    .content{
        height: 68vh;
        .write{
            h2{
                text-transform: uppercase;
                font-size: 24px;
                font-family: 'Kanit';
            }
    
            p{
                font-size: 16px;
            }
        }
    }
    
    .center{
        height: 84vh;
        .mission-head{
            h3{
                margin: 0;
                width: 85vh;
                position: relative;
                left: 7%;
                font-size: 24px;
                line-height: 1.5;
            }
        }
    
        .miss-word{
            text-align: center;
            p{
                position: relative;
                top: 55px;
                font-size: 24px;
            }
            .right-img{
                display: none;
            }
        }
    }
}

@media  screen and (min-width:769px) and (max-width:1023px) {
    .content{
        height: 85vh;
        .write{
            h2{
                text-transform: uppercase;
                font-size: 30px;
                font-family: 'Kanit';
            }
    
            p{
                font-size: 18px;
            }
        }
    }
    
    .center{
        height: 90vh;
        .mission-head{
            h3{
                margin: 0;
                width: 85vw;
                position: relative;
                left: 7%;
                font-size: 28px;
                line-height: 1.5;
                font-weight: bold;
            }
        }
    
        .miss-word{
            align-items: center;
            position: relative;
                top: 30px;
            p{
                font-size: 22px;
            }
            .right-img{
                display: block;
               height: 40vh;
               width: 38vw;
            }
        }
    }
}

@media screen and (max-width:320px) {

    .content{
        height: 60vh;
        .write{
            width: 80vw;
        }
    }
    .center{
    .miss-word{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;

        p{
            font-family: 'Poppins';
          font-size: 16px;
        }
    }

    .but{
        margin-top: -4rem;
        margin-left: 125px;
    }
    }
}