@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300;1,400&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  scroll-behavior: smooth;
  transition: 1.25s ease-in;
}

#logo {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
#logo img {
  align-self: center;
  height: 4rem;
  width: auto;
}

header {
  font-family: "Poppins";
  position: fixed;
  top: 10;
  width: 100%;
  z-index: 1;
  background-color: #7eea00;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header nav ul li {
  margin: 7px;
  font-family: "Kanit";
  font-size: 1.2rem;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  background-color: #e6e6e6;
}
footer .copy {
  color: blue;
  font-weight: bold;
  font-size: 1.3rem;
}
footer span {
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*Menu Icon*/
.wrapper {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: #7eea00;
  height: 3rem;
}
.wrapper .container {
  z-index: 999;
  height: 25px;
  width: 60px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.wrapper .container .menulogo {
  height: 7px;
  width: 40px;
  background-color: black;
  border-radius: 20px;
}

.menu {
  position: fixed;
  z-index: 999;
  font-family: "Poppins";
  background-color: slateblue;
  width: 10%;
  height: 100vh;
  padding: 50px;
  transform: translateX(-700px);
  transition: 0.5s;
}
.menu li {
  list-style: none;
  border-bottom: 1px solid rgb(130, 117, 218);
  padding: 20px 0;
  text-align: center;
}
.menu li:last-child {
  border-bottom: none;
}
.menu li a {
  transition: font-weight 0.2s;
  color: snow;
  text-decoration: none;
  font-size: 10px;
}

.showmenu {
  transform: translateX(0px);
}

::-webkit-scrollbar-track {
  height: 3px;
}

::-webkit-scrollbar {
  background-color: #242f3f;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #7eea00;
}

.loader-wrapper {
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #242f3f;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s, visibility 1s;
}
.loader-wrapper.fade {
  opacity: 0;
  visibility: hidden;
}
.loader-wrapper .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-wrapper .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 1s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  header {
    display: none;
  }
  .wrapper {
    display: block;
  }
  .menu {
    width: 30%;
  }
  .menu li {
    border-bottom: 4px solid rgb(130, 117, 218);
  }
  .menu li a {
    font-size: 20px;
  }
  .menu li:first-child {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 480px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2rem;
    width: 100vw;
  }
  .wrapper .container {
    height: 20px;
    margin-top: 5px;
  }
  .wrapper .container .menulogo {
    height: 5px;
    width: 30px;
  }
  .menu {
    width: 77%;
  }
  .menu li {
    padding: 20px 0;
  }
  .menu li a {
    font-size: 14px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2rem;
    width: 100vw;
  }
  .wrapper .container {
    height: 20px;
    margin-top: 5px;
  }
  .wrapper .container .menulogo {
    height: 5px;
    width: 30px;
  }
  .menu {
    width: 50%;
  }
  .menu li {
    padding: 20px 0;
  }
  .menu li a {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  #logo {
    display: none;
  }
  header {
    display: none;
  }
  .wrapper {
    display: block;
    height: 2rem;
    width: 100vw;
  }
  .wrapper .container {
    height: 20px;
    margin-top: 5px;
  }
  .wrapper .container .menulogo {
    height: 5px;
    width: 30px;
  }
  .menu {
    width: 50%;
  }
  .menu li {
    border-bottom: 3px solid snow;
    padding: 20px 0;
  }
  .menu li a {
    font-size: 14px;
  }
  .menu {
    width: 50%;
  }
  .menu li {
    padding: 50px 0;
    border-bottom: snow 1px solid;
  }
  .menu li a {
    font-size: 14px;
  }
}
.btn {
  font-weight: bold;
  border-radius: 9rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.6rem;
  margin-top: 1rem;
}
.btn.top {
  background-color: snow;
}
.btn.top a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.btn.white {
  background-color: snow;
}
.btn.white a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.btn.end {
  background-color: lightseagreen;
  position: relative;
  left: -40%;
  top: 9vh;
}
.btn.end a {
  text-decoration: none;
  color: snow;
  font-size: 14px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .btn {
    padding: 1rem 2rem;
    border: snow solid 3px;
  }
  .btn.top {
    position: relative;
    left: 40%;
    background: transparent;
  }
  .btn.top a {
    font-size: 16px;
    font-family: "Poppins";
    color: yellow;
  }
  .btn.white {
    position: relative;
    left: 30%;
    top: 24vh;
    background: transparent;
  }
  .btn.white a {
    font-size: 16px;
    font-family: "Poppins";
    color: yellow;
  }
  .btn.end {
    padding: 1rem 2rem;
    background-color: lightseagreen;
    position: relative;
    left: 178%;
  }
  .btn.end a {
    text-decoration: none;
    color: black;
    font-family: "Poppins";
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    display: block;
    padding: 8px 10px;
    border-radius: 0;
    position: relative;
  }
  .btn.top a, .btn.white a {
    font-size: 12px;
    font-weight: bold;
  }
  .btn.white {
    top: 120px;
    left: -20%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .btn {
    padding: 0.7rem 0.9rem;
    position: relative;
    border-radius: 0;
  }
  .btn.top {
    background-color: black;
  }
  .btn.top a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: snow;
  }
  .btn.white {
    background-color: black;
    top: 24vh;
    left: -24%;
  }
  .btn.white a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: snow;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .btn {
    padding: 0.8rem 1rem;
    border-radius: 9px;
    position: relative;
    border: snow solid 3px;
  }
  .btn.top {
    background-color: black;
  }
  .btn.top a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: snow;
  }
  .btn.white {
    background-color: black;
    top: 20vh;
    left: 12%;
  }
  .btn.white a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: snow;
  }
}
.content {
  background-image: linear-gradient(rgba(0, 2, 3, 0.705), rgba(199, 7, 189, 0.596)), url(../images/test.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 60vh;
}
.content .write {
  position: relative;
  width: 60%;
  left: 7%;
  top: 20%;
  text-align: left;
}
.content .write h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  letter-spacing: 1;
  color: yellow;
  font-size: 2.9rem;
}
.content .write p {
  font-size: 1rem;
  font-family: cursive;
  color: snow;
}

.center {
  transition: 1.23s;
  background-color: #02514b;
  margin-top: 12vh;
  height: 69vh;
  width: 100%;
}
.center .mission-head {
  position: relative;
  top: 2rem;
  -webkit-text-decoration: underline yellow 3px;
          text-decoration: underline yellow 3px;
}
.center .mission-head h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 2px;
  color: snow;
  margin-left: 12rem;
}
.center .miss-word {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.center .miss-word p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  color: snow;
}
.center .miss-word .right-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 19rem;
  box-sizing: border-box;
  border-radius: 8rem;
}
.center .miss-word .right-img img {
  position: relative;
  top: -8%;
  height: 109%;
  width: 100%;
  border-radius: 8rem;
}
.center .but {
  margin-top: -4rem;
  margin-left: 15rem;
}

footer {
  position: relative;
  top: 5vh;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .content {
    height: 74vh;
  }
  .content .write {
    background-position: center;
    top: 25%;
    left: 23%;
  }
  .content .write h2 {
    line-height: 1;
    font-weight: bold;
    font-size: 45px;
    font-family: "kanit";
    text-align: center;
  }
  .content .write p {
    font-size: 20px;
    text-align: center;
  }
  .center {
    height: 90vh;
  }
  .center .mission-head {
    width: 40%;
    position: relative;
    top: 10vh;
    left: 23%;
  }
  .center .mission-head h3 {
    text-align: center;
    font-size: 30px;
    font-family: "Kanit";
  }
  .center .miss-word {
    position: relative;
    top: 14vh;
  }
  .center .miss-word p {
    font-size: 22px;
  }
  .center .miss-word .right-img {
    width: 30%;
    height: 10%;
    box-sizing: border-box;
    border-radius: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .content {
    height: 60vh;
  }
  .content .write {
    top: 14%;
  }
  .content .write h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Kanit";
  }
  .content .write p {
    font-size: 14px;
  }
  .center {
    height: 65vh;
  }
  .center .mission-head h3 {
    margin: 0;
    width: 85vw;
    position: relative;
    left: 7%;
    font-size: 17px;
    line-height: 1.5;
  }
  .center .miss-word {
    text-align: center;
  }
  .center .miss-word p {
    position: relative;
    top: 55px;
    font-size: 18px;
  }
  .center .miss-word .right-img {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .content {
    height: 85vh;
  }
  .content .write h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Kanit";
  }
  .content .write p {
    font-size: 16px;
  }
  .center {
    height: 84vh;
  }
  .center .mission-head h3 {
    margin: 0;
    width: 85vh;
    position: relative;
    left: 7%;
    font-size: 24px;
    line-height: 1.5;
  }
  .center .miss-word {
    text-align: center;
  }
  .center .miss-word p {
    position: relative;
    top: 55px;
    font-size: 24px;
  }
  .center .miss-word .right-img {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .content {
    height: 80vh;
  }
  .content .write h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Kanit";
  }
  .content .write p {
    font-size: 18px;
  }
  .center {
    height: 90vh;
  }
  .center .mission-head h3 {
    margin: 0;
    width: 85vw;
    position: relative;
    left: 7%;
    font-size: 28px;
    line-height: 1.5;
    font-weight: bold;
  }
  .center .miss-word {
    align-items: center;
    position: relative;
    top: 30px;
  }
  .center .miss-word p {
    font-size: 22px;
  }
  .center .miss-word .right-img {
    display: block;
    height: 40vh;
    width: 38vw;
  }
}/*# sourceMappingURL=home.css.map */