@import "./_variables";
@import "./_helper";
   

.content{
    background-image: linear-gradient(rgba(0, 2, 3, 0.705),rgba(199, 7, 189, 0.596)),url(../images/test.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 60vh;

    .write{
        position: relative;
        width: 60%;
        left: 7%;
        top: 20%;
        text-align: left;

        h2{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            letter-spacing: 1;
            color: $yel;
            font-size: 2.9rem;
        }
    
        p{
            font-size: 1rem;
            font-family:cursive;
            color: $all;
        }
    }
}

.center{
    transition: 1.23s;
    background-color: #02514b;
    margin-top: 12vh;
    height:65vh;
    width: 100%;

    .mission-head{
        position: relative;
        top: 2rem;
        text-decoration: underline $yel 3px;

        h3{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bolder;
            letter-spacing: 2px;
            color: $all;
            margin-left: 12rem;
        }
    }

    .miss-word{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 2rem;

        p{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.5rem;
            color: $all;
        }

        .right-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28rem;
            height: 19rem;
            box-sizing: border-box;
            border-radius: 8rem;

            img{
                position: relative;
                top: -8%;
                height:109%;
                width: 100%;
                border-radius: 8rem;
            }
        }
    }

    .but{
        margin-top: -4rem;
        margin-left: 15rem;
    }
}

footer{
    position: relative;
    top: 5vh;
}

@media all and (min-width:1024px) and (max-width:1280px){
    .content{
        height: 64vh;
        .write{
            background-position: center;
            top: 25%;
            left: 23%;
            h2{
                line-height: 1;
                font-weight: bold;
                font-size: 42px;
                font-family: 'kanit';
                text-align: center;
            }

            p{
                font-size: 20px;
                text-align: center;
            }
        }
    }

    .center{
        height: 90vh;
        .mission-head{
            width: 40%;
            position:relative;
            top: 10vh;
            left: 23%;
            h3{
                text-align: center;
                font-size: 30px;
                font-family: 'Kanit';
            }
        }

         .miss-word{
            position: relative;
            top: 14vh;
            p{
                font-size: 22px;
            }

            .right-img{
                width: 30%;
                height: 10%;
                box-sizing: border-box;
                border-radius: 8rem;
    
            }
        }
    }
}

@media all and (max-width:360px) and (max-height:480px){
    .content{
        .write{
            width: 100%;
            left: 0;
            top: 90px;

            h2{
                font-size: 24px;
                text-align: center;
            }

            p{
                font-size: 12px;
                text-align: center;
            }
        }
    }

    .center{
        .mission-head{
            h3{
                font-size: 20px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            p{
                font-size: 18px;
                margin-top: 20px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (min-height:500px) and (max-height:650px) and (min-width:414px) and (orientation:portrait){
    .content{
        height:59vh;
        .write{
            width: 100%;
            left: 0;
            top: 90px;

            h2{
                font-size: 30px;
                text-align: center;
            }

            p{
                font-size: 14px;
                text-align: center;
            }
        }
    }

    .center{
        height: 57vh;
        .mission-head{
            h3{
                font-size: 20px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            p{
                font-size: 18px;
                margin-top: 20px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}


@media all and (max-width:239px) and (orientation:portrait) {
    .content{
        .write{
            width: 100vw;
            left: 0;
            top: 75px;
            text-align: center;
            h2{
                text-transform: uppercase;
                font-family: 'Poppins';
                font-size: 18px;
            }

            p{
                font-size: 14px;
                font-family: cursive;
            }
        }
    }

    .center{
        height: 70vh;
        .mission-head{
            h3{
                font-size: 20px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            width: 100vw;
            p{
                font-size: 20px;
                margin-top: 20px;
                text-align: center;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:736px) and (min-height:240px) and (max-height:420px)
    {
    .content{
        height: 80vh;
        .write{
            width: 100%;
            left: 0;
            top: 70px;

            h2{
                font-size: 40px;
                text-align: center;
            }

            p{
                font-size: 14px;
                text-align: center;
            }
        }
    }

    .center{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .mission-head{
            h3{
                font-size: 30px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            p{
                font-size: 18px;
                margin-top: 20px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:240px) {
    .content{
        .write{
            width: 100vw;
            left: 0;
            top: 55px;
            text-align: center;
            h2{
                text-transform: uppercase;
                font-family: 'Poppins';
                font-size: 18px;
            }

            p{
                font-size: 14px;
                font-family: cursive;
            }
        }
    }

    .center{
        height: 90vh;
        .mission-head{
            h3{
                font-size: 20px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            width: 100vw;
            p{
                font-size: 20px;
                margin-top: 20px;
                text-align: center;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }    
}

@media all and (max-width:280px) and (max-height:653px){
    .content{
        width: auto;
        height: 56vh;
        .write{
            width: 100vw;
            left: 0;
            top: 90px;
            text-align: center;
            h2{
                text-transform: uppercase;
                font-family: 'Poppins';
                font-size: 22px;
            }

            p{
                font-size: 14px;
                font-family: cursive;
            }
        }
    }

    .center{
        height: 60vh;
        .mission-head{
            h3{
                font-size: 20px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            width: 100vw;
            p{
                font-size: 18px;
                margin-top: 20px;
                text-align: center;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:320px) and (max-height:568px){
    .content{
        height: 56vh;
        .write{
            width: 100vw;
            left: 0;
            top: 50px;
            text-align: center;
            h2{
                text-transform: uppercase;
                font-family: 'Poppins';
                font-size: 22px;
            }

            p{
                font-size: 15px;
                font-family: cursive;
            }
        }
    }

    .center{
        height: 60vh;
        .mission-head{
            h3{
                font-size: 20px;
                margin: 0;
                text-align: center;
                line-height: 3ch;
            }
        }

        .miss-word{
            width: 100vw;
            p{
                font-size: 20px;
                margin-top: 20px;
                text-align: center;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:320px) and (max-height:480px){

    .content{
        height: 70vh;
        .write{
            width: 100vw;
            left: 0;
            top: 80px;

            h2{
                font-size: 24px;
                text-align: center;
            }

            p{
                font-size: 12px;
                text-align: center;
            }
        }
    }

    .center{
        .mission-head{
            h3{
                font-size: 20px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            p{
                font-size: 18px;
                margin-top: 20px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:360px) and (max-height:640px){
    .content{
        height: 60vh;
        .write{
            width: 100vw;
            left: 0;
            top: 80px;

            h2{
                font-size: 27px;
                text-align: center;
            }

            p{
                font-size: 14px;
                text-align: center;
            }
        }
    }

    .center{
        .mission-head{
            h3{
                font-size: 28px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            p{
                font-size: 22px;
                margin-top: 60px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:360px) and (max-height:740px){
    .content{
        height: 50vh;
        .write{
            width: 100vw;
            left: 0;
            top: 80px;

            h2{
                font-size: 30px;
                text-align: center;
            }

            p{
                font-size: 16px;
                text-align: center;
            }
        }
    }

    .center{
        height: 58vh;
        .mission-head{
            h3{
                font-size: 28px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            p{
                font-size: 22px;
                margin-top: 60px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:320px) and (max-height:658px){
    .content{
        height: 56vh;
        .write{
            width: 100vw;
            left: 0;
            top: 68px;
            h2{
                text-transform: uppercase;
                font-family: 'Poppins';
                font-size: 22px;
            }

            p{
                font-size: 15.5px;
                font-family: cursive;
            }
        }
    }

    .center{
        height: 50vh;
        .mission-head{
            h3{
                font-size: 22px;
                margin: 0;
                text-align: center;
                line-height: 3ch;
            }
        }

        .miss-word{
            width: 100vw;
            p{
                font-size: 18px;
                margin-top: 20px;
                text-align: center;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:375px) and (max-height:667px){
    .content{
        height: 56vh;
        .write{
            width: 100vw;
            left: 0;
            top: 80px;

            h2{
                font-family: 'Poppins';
                text-transform: uppercase;
                font-size: 26px;
                text-align: center;
            }

            p{
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .center{
        .mission-head{
            h3{
                font-size: 28px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            text-align:center;
            p{
                font-size: 22px;
                margin-top: 60px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:375px) and (max-height:812px){
    .content{
        height: 50vh;
        .write{
            width: 100vw;
            left: 0;
            top: 94px;

            h2{
                font-family: 'Poppins';
                text-transform: uppercase;
                font-size: 24px;
                text-align: center;
            }

            p{
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .center{
        height: 50vh;
        .mission-head{
            h3{
                font-size: 28px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            text-align:center;
            p{
                font-size: 22px;
                margin-top: 60px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:384px) and (max-height:640px){
    .content{
        height: 55vh;
        .write{
            width: 100vw;
            left: 0;
            top: 64px;
            h2{
                font-family: 'Poppins';
                text-transform: uppercase;
                font-size: 23px;
                text-align: center;
            }

            p{
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .center{
        height: 64vh;
        .mission-head{
            h3{
                font-size: 25px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            text-align:center;
            p{
                font-size: 20px;
                margin-top: 60px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:320px) and (max-height:533px){
    .content{
        height: 60vh;
        .write{
            width: 100vw;
            left: 0;
            top: 80px;

            h2{
                font-size: 24px;
                text-align: center;
            }

            p{
                font-size: 13px;
                text-align: center;
            }
        }
    }

    .center{
        height: 55vh;
        .mission-head{
            h3{
                font-size: 20px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            p{
                font-size: 18px;
                margin-top: 20px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}

@media all and (max-width:411px) and (max-height:731px){
    .content{
        height: 50vh;
        .write{
            width: 100vw;
            left: 0;
            top: 64px;
            h2{
                font-family: 'Poppins';
                text-transform: uppercase;
                font-size: 26px;
                text-align: center;
            }

            p{
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .center{ 
        height: 56vh;
        .mission-head{
            h3{
                font-size: 25px;
                margin: 0;
                text-align: center;
                line-height: 2ch;
            }
        }

        .miss-word{
            text-align:center;
            p{
                font-size: 24px;
                margin-top: 60px;
            }
            .right-img{
                display: none;
            }
        }

        .but{
            margin: 0;
        }
    }
}